#treeWrapper {
  width: 100%;
  height: 80vh;
  border: solid 1px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
}

.screenshot {
  animation: screenshot 1s;
}

.node {
  cursor: default;
}

.node > circle {
  fill: gray;
  r: 3px;
  cursor: default;
}

.node .node__label {
  font-size: 1.5rem;
}

.leaf_link {
  stroke-opacity: 0.25;
  /* stroke-dasharray: 5; */
}

.no_link {
  display: none;
}

/* .rd3t-g {
  outline: solid 1px blue;
} */

@keyframes screenshot {
  0% {
    background-color: #222;
  }
  100% {
    background-color: #f1f1f1;
  }
}
