#treeWrapper {
  width: 100%;
  height: 80vh;
  border: solid 1px;
  background: #f1f1f1;
  border-radius: 5px;
}

.node__branch {
  cursor: default;
}

.node__branch > circle {
  fill: gray;
  r: 3px;
  cursor: default;
}

.node__branch .node__label {
  font-size: 1.5rem;
}

.node__leaf {
  cursor: default;
}

.node__leaf > circle {
  fill: gray;
  r: 3px;
  cursor: default;
}

.node__leaf .node__label {
  font-size: 1.5rem;
}
