#treeWrapper {
  width: 100%;
  height: 80vh;
  border: solid 1px;
  background: #f1f1f1;
  border-radius: 5px;
}

.node__root > circle {
  fill: gray;
  r: 3px;
}

.node__root > .rd3t-label {
  transform: translate(-3%, -2%);
  font-size: 1.25rem;
}

.node__branch > circle {
  fill: gray;
  r: 3px;
}

.node__branch > .rd3t-label {
  transform: translate(-3%, -2%);
  font-size: 1.25rem;
}

.node__leaf > circle {
  fill: gray;
  r: 3px;
}

.node__leaf > .rd3t-label {
  transform: translate(-3%, 5%);
  font-size: 1.25rem;
}
